In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/treinamento-1.txt', header=None)

In [3]:
def create_lag(df, num_lags):
    #cria lag
    #o lag criado gera espacos vazios na tabela
    df = pd.concat([df.shift(lag) for lag in range(0,num_lags+1)],axis=1)
    #apagamos os espacos vazioes
    df = df.dropna()
    #damos nomes com inteiros para as colunas possibilitando ordenacao
    df.columns = [int(lag) for lag in range(0,num_lags+1)]
    #invertemos a ordem dos nomes
    df.columns = df.columns[::-1]
    #invertemos a ordem das colunas
    df = df[sorted(df.columns.values)]
    #voltamos as colunas para string para podermos renomear e atribuimos a ultima coluna o nome de y
    df.columns = df.columns.astype(str)
    df.columns.values[-1] = 'y'
    return df

In [4]:
teste = create_lag(df,10)

In [6]:
teste.head()

,0,1,2,3,4,5,6,7,8,9,y
10,0.534824,0.427926,0.633759,0.196700,0.922618,-0.702448,0.013135,0.999655,-0.998620,-0.994484,-0.977998
11,0.427926,0.633759,0.196700,0.922618,-0.702448,0.013135,0.999655,-0.998620,-0.994484,-0.977998,-0.912959
12,0.633759,0.196700,0.922618,-0.702448,0.013135,0.999655,-0.998620,-0.994484,-0.977998,-0.912959,-0.666990
13,0.196700,0.922618,-0.702448,0.013135,0.999655,-0.998620,-0.994484,-0.977998,-0.912959,-0.666990,0.110249
14,0.922618,-0.702448,0.013135,0.999655,-0.998620,-0.994484,-0.977998,-0.912959,-0.666990,0.110249,0.975690